/* 1.Header*/
body{
    margin: 0;
    height: 100%;
    /*background:red;*/
}
.header-content{
    padding: 20px 0;
    background-color: #ffffff;
    /*border:6px solid green;*/
}
.logo-content{
    display: flex;
    align-items: center;
    margin-left: 8%;
    /*border:6px solid green;*/
}
.ab-text{
    font: normal normal bold 22px/25px Montserrat;
    color: #008CFF;
    width: 112px;
    height: 27px;
    text-transform: uppercase;
}
.ab-book{color: #42515F;}
*{box-sizing: border-box;}
