/* 1.Header*/

body {
    margin: 0;
    height: 100%;
    /*background:red;*/
}

.header-content {
    padding: 20px 0;
    background-color: #ffffff;
    /*border:6px solid green;*/
}

.logo-content {
    display: flex;
    align-items: center;
    margin-left: 8%;
    /*border:6px solid green;*/
}

.ab-text {
    font: normal normal bold 22px/25px Montserrat;
    color: #008CFF;
    width: 112px;
    height: 27px;
    text-transform: uppercase;
}

.ab-book {
    color: #42515F;
}

* {
    box-sizing: border-box;
}

/* 2. Form*/

.form-content {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 0px solid green
}

.form {
    width: 1067px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0px solid#f70404;
    border-radius: 10px;
    opacity: 1;
}

.form-head {
    border: 0px solid#f70404;
    border-radius: 10px;
    width: 1067px;
    height: 108px;
    padding: 35px;
    text-align: center;
    background: #008CFF 0% 0% no-repeat padding-box;
    font: normal normal normal 28px/37px Roboto;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

span > img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.row-content {
    margin: 2% 5% 10px 5%;
    align-items: center;
    border: 0px solid green;
    padding: 0px 60px;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    resize: vertical
}

.text {
    display: flex;
    border: 0px solid#f70404;
    font: normal normal normal 18px/24px Roboto;
    color: #42515F;
    opacity: 1;
}

#citystatezip
{
    display: flex;
    flex-flow: row;

}

.column  > select
{
    width: 220px;
    height: 40px;
    border-radius: 3px;
    padding: 5px;
    margin-right: 15px;
    font: normal normal normal 18px/24px Roboto;
    color: #42515F;
}

.column > .zipcode
{
    height: 35px;
    padding-left: 5px;
    width: 210px;
}
.column
{
    display: flex;
    flex-flow: column;
    margin-right: 9%;
}

.buttonParent{
    padding: 40px;
}

.button{
    font-size: 20px;
    font-family: Roboto;
    color: #42515f;
    border-radius: 5px;
    font-weight: 400;
    min-width: 140px;
    margin-right: 35px;
    padding:7px 7px;
    border: 1px solid #707070;
    background: #E2E2E2;
    cursor: pointer;
}

.submit-reset > button[type="submit"]:hover
{
background-color: #008CFF;
color: white;
border: 1px solid #969696;

}
.submit-reset > button[type="reset"]:hover ,.resetButton:hover
{
    background-color:red;
    color: white;
    border: 1px solid #969696;
}

error{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

@media only screen and (max-width:1383px)
{
    #citystatezip
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .column
    {
        margin-bottom: 10px;
    }
}
