/* 1.Header*/

body {
    margin: 0;
    height: 100%;
    /*background:red;*/
}

.header-content {
    padding: 20px 0;
    background-color: #ffffff;
    /*border: 6px solid green;*/
}

.logo-content {
    display: flex;
    align-items: center;
    margin-left: 8%;
    /*border:6px solid green;*/
}

.ab-text {
    font: normal normal bold 22px/25px Montserrat;
    color: #008CFF;
    width: 112px;
    height: 27px;
    text-transform: uppercase;
}

.ab-book {
    color: #42515F;
}

* {
    box-sizing: border-box;
}

/* body header and button*/

.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    background-color: #f7f7f7;
    padding: 30px 0 10px;
}

.headercontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.person-detail-text {
    font: normal normal bold 28px/25px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}

.emp-count {
    background-color: #008CFF;
    color: #ffffff;
    border-radius: 42%;
    font-size: 16px;
    width: 26px;
    text-align: center;
    display: inline-block;
}

.add-button {
    font: normal normal normal 22px/29px Roboto;
    color: #ffffff;
    opacity: 1;
    background: #008CFF 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
}

/* Table */

.table-main {
    width: 83%;
    margin: 0 auto;
    overflow: auto;
    /*border:6px solid green;*/
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;
    /*border:6px solid rgb(56, 5, 5)*/
}

td, th {
    text-align: left;
    padding: 5px 8px;
    /*border: 2px solid #dddddd;*/
}

th {
    border-radius: 3px 3px 0px 0px;
    font: normal normal bold 18px/22px Lato;
    letter-spacing: 0px;
    color: #658292;
    text-transform: capitalize;
    opacity: 1;
    border: 0px solid #dddddd;
    /*border:6px solid rgb(70, 0, 128)*/
}

tr:not(:first-child) {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

td {
    font: normal normal 600 18px/22px Lato;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
}

td:first-child {
    align-items: center;
}

td img:first-child {
    margin-right: 10px;
}

td img {
    cursor: pointer;
}